@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

